<header>
    <a href="https://dog.ceo/dog-api/documentation/" class="logo">Dogs <img src="../../assets/dog-api-logo.svg" alt="dog image" width="30px"></a>

    <nav>
        <ul>
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            <li><a routerLink="/breeds" routerLinkActive="active">Breeds</a></li>
            <li><div class="search-bar">
                <app-search></app-search>
            </div>
        </li>
        </ul>
    </nav>
</header>