<div>
    <p>Welcome! I am thrilled to have you here. In this web-app you can take a part in a quiz, find any breed you want and take a look at them! 
    <br> While doing this project, I learned so many new features about building a website and about dogs, of course. I think it's worth starting by saying that I'm glad you're reading this.
    <br> So I'll tell you a little bit about every part of this project. 
    <br> Home page. There you can find a game(aka quiz). I came up with this idea because in the description of the project there was a point to embody something funny, so in API there is a request to get a random photo and I found it funny.
    <br> If you answer a question correctly, u'll get confetti. 
    <br> Breeds. This page includes a list of all breeds. If you click one of them you will see two cases. 
    <br> 1. A dog that doesn't have sub-breeds. If so you'll see just photos of a dog. 
    <br> 2. A dog that have one or more sub-breeds. You will redirect to the breed-detail page, where there are a list of sub-breeds. One clicck and you can see photos of each sub-breed.
    <br> Search bar. Type and find any breed you want.
    <br> 404 page. I love this page! Just check it out XD
    <br> Loading... I tried to make it clean, so included this feature. While images are loading there is a gif that will wait you. 
</p>

    <p>Let's now talk about the difficulties i've had.
        <br> 1. API has so more requests. It took some time to observe all of them. 
        <br> 2. A size of a picture. Each pic has different size and it was slightly difficult to manage them. So i used this <a href="https://angular.io/errors/NG0913">reference</a> to resolve this problem.
        <br> 3. There was a problem with images loading. Images were invisible until the page was refreshed.  
        <br> 
    </p>
</div>


